[user]
  name = hotpocket
  email = githotpocket@gmail.com
[alias]
  lg = log --oneline --decorate --all --graph
  stat = status --porcelain -b
  unstage = reset HEAD --
  hist = log --pretty=format:'%h%x09%an%x09%ad%x09%s' --stat --date=short
  last = log -1 HEAD
[core]
  editor = vi
  autocrlf = input
  whitespace = cr-at-eol
  pager = less -r
[push]
[color]
  ui = true
[push]
  default = simple
